{% extends 'base.html.twig' %}

{% form_theme formTrick 'bootstrap_5_layout.html.twig' %}

{% block body %}
<div class="container-fluid mt-5" >
	<div class="row justify-content-center py-5"  id="ajoutfigure" >
		<div class="col col-lg-8  px-2 ">
			<div class="card mt-3">
				<div class="card-header py-1"> 
					{% if editMode %}
						<h4> Mise à jour  d'une figure</h4>
					{% else %}
						<h4 >Création d'une figure</h4>
					{% endif %}
					
				</div>
				<div class="card-body">
					
					{{ form_start(formTrick) }}
					{# <div class="container " > #}

						{{ form_row(formTrick.category, {'attr': {'placeholder': "Titre de la Figure"}}) }}
						{{ form_row(formTrick.title, {'attr': {'placeholder': "Titre de la Figure"}}) }}
						{{ form_row(formTrick.content, {'attr': {'placeholder': "Contenu de la Figure"}}) }}
						{{ form_row(formTrick.defaultimage) }}
						{{ form_row(formTrick.images) }}

						{# Si la route est "annonces_edit on affiche les images #}
						{% if editMode %}
							<h2>Images</h2> 
							<div>
								<ul class="list-inline">
								{% for image in trick.images %}
								
										<li class="list-inline-item">

											<img src="{{ asset('/uploads/images/'~image.name) }}" alt="" width="150">
												<div class="card-actions trick-media-actions py-2 px-3 mt-2 ml-auto mr-2">
													<a href="{{ path('trick_delete_image', {'id': image.id})}}" class="btn btn-outline-danger btn-sm mx-1" 
														data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">
														<i class="fas fa-trash-alt"></i>
													</a> 
													{# <form method="post" action="{{ path('trick_delete_image', {'id': image.id}) }}" onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer cette image ?');">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
													<button class="btn">Supprimer</button>
												</form>#}
												</div>
											{# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) 
											<a href="{{ path('app_annonces_delete_image', {'id': image.id})}}" 
											data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>#}
											</li>

								
								{% endfor %}
								</ul>
							</div>
						{% endif %}
							
						<div class="col col-lg-6 pt-2 pb-5 d-flex flex-column">
							   
							{# <div id = "videos" data-prototype = "{{ form_row(form.videos.vars.prototype)|e('html_attr')}}">
								{{ form_row(form.videos) }}
								<span></span>
							</div> #}
							
							{# <button type="button" class="btn btn-outline-primary add_item_link" data-collection-holder-class="videos">
								<i class="bi bi-play-btn-fill me-2"></i>
								{{ 'Ajouter une Video' | trans }}
							</button>
							<div class="videos" 
								data-index="{{ formTrick.videos|length > 0 ? formTrick.videos|last.vars.name + 1 : 0 }}" 
								data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e('html_attr') }}">
							</div> #}
							{# <ul> #}
								{# {% for videoField in formTrick.videos %}
									<li>
										{{ form_errors(videoField) }}
										{{ form_widget(videoField) }}
									</li>
								{% endfor %} #}
							{% if editMode %}
								{% for video in trick.videos %}
									<div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
										<iframe class="showtrick-media" id="{{ loop.index + trick.videos|length }}" src="{{ video.videourl }}" width="190" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										{# <iframe src="{{ video.url }}" allowfullscreen></iframe> #}
									</div>
									<div class="card-actions trick-media-actions py-2 px-3 mt-2 ml-auto mr-2">
										<a href="{{ path('trick_delete_video', {'id': video.id})}}" class="btn btn-outline-danger btn-sm mx-1" 
											data-delete data-token="{{ csrf_token('delete' ~ video.id )}}">
											<i class="fas fa-trash-alt"></i>
										</a> 
										{# <form method="post" action="{{ path('trick_delete_image', {'id': image.id}) }}" onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer cette image ?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
										<button class="btn">Supprimer</button>
									</form>#}
									</div>
								{% endfor %}
							{% endif %}

							<ul id="video-fields-list"
								data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e }}"
								data-widget-tags="{{ '<li></li>'|e }}"
								data-widget-counter="{{ formTrick.videos|length }}">
								{% for videoField in formTrick.videos %}
									<li>
										{{ form_errors(videoField) }}
										{{ form_widget(videoField) }}
									</li>
								{% endfor %}
							</ul>

							<button type="button"
								class="add-another-collection-widget"
								data-list-selector="#video-fields-list">Ajouter une Video
							</button>
							{# </ul> #}
							{# <input type="hidden" id="video-counter"> #}
							{# store the prototype on the data-prototype attribute #}
 
						</div>
								{# <button type="button" class="btn btn-danger remove_item_link" data-collection-holder-class="videos">{{ 'remove' | trans }}</button> #}
								
						{# {{ form_row(formTrick.image, {'attr': {'placeholder': "URL de l'image"}}) }}
						{{ form_row(formTrick.video, {'attr': {'placeholder': "URL de la video"}}) }} #}
						{% block javascripts %}
   
    <script>

// add-collection-widget.js
jQuery(document).ready(function () {
    jQuery('.add-another-collection-widget').click(function (e) {
        var list = jQuery(jQuery(this).attr('data-list-selector'));
        // Try to find the counter of the list or use the length of the list
        var counter = list.data('widget-counter') || list.children().length;

        // grab the prototype template
        var newWidget = list.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your emails
        // end name attribute looks like name="contact[emails][2]"
        newWidget = newWidget.replace(/__name__/g, counter);
        // Increase the counter
        counter++;
        // And store it, the length cannot be used if deleting widgets is allowed
        list.data('widget-counter', counter);

        // create a new list element and add it to the list
        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
        newElem.appendTo(list);
    });
});

       /*  const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');

        item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);
        // item.appendChild(deleteBtn);
        collectionHolder.appendChild(item);
        collectionHolder.dataset.index ++;
        item.classList.add('list-unstyled', 'justify-content-between');
        };

        const removeFormElementFromCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
        // collectionHolder.removeChild(collectionHolder.lastChild);
        // console.log(collectionHolder)
        };

        document.querySelectorAll('.add_item_link').forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
        });
        document.querySelectorAll('.remove_item_link').forEach(btn => {
        console.log(btn)
        btn.addEventListener("click", removeFormElementFromCollection)
        });  */
    </script>

{% endblock %}
						<button type="submit" class="btn btn-primary">

							{% if editMode %}
								Mettre à Jour
							{% else %}
								Créer la Figure
							{% endif %}

						</button>
					{# </div> #}
					{{ form_end(formTrick) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



