{% extends 'base.html.twig' %}

{% form_theme formUpdateTrick 'bootstrap_5_layout.html.twig' %}

{% block body %}
	<div class="container-fluid mt-5">
		<div class="row justify-content-center py-5" id="updatetrick">
			<div class="col col-lg-8  px-2 ">
				<div class="card mt-3">
					<div class="card-header py-1">
						<h4>Mise à jour  d'une figure</h4>
					</div>
					<div class="card-body">

						{{ form_start(formUpdateTrick) }}	
						{{ form_widget(formUpdateTrick._token) }}
                        {{ form_errors(formUpdateTrick) }}
						{{ form_row(formUpdateTrick.category, {'attr': {'placeholder': "Titre de la Figure"}}) }}
						{{ form_row(formUpdateTrick.title) }}
						{% for message in app.flashes('danger') %}
							<div class="alert  text-danger w-100 ">
								{{ message }}
							</div>
						{% endfor %}
						{{ form_row(formUpdateTrick.content, {'attr': {'placeholder': "Contenu de la Figure"}}) }}
						{{ form_row(formUpdateTrick.defaultimage) }}
						{% if trick.defaultimage != "" %}
							<img src="{{ asset('/uploads/images/'~trick.defaultimage) }}" alt="" width="250">
							{% if app.user.id == trick.user.id %}
							{% endif %}
						{% endif %}
						<div class="col-6 col-lg-10 media-slider pt-2 pb-5 d-flex flex-column">
							<h2>Images</h2>
							<div id="images" data-index="{{ formUpdateTrick.images|length > 0 ? formUpdateTrick.images|last.vars.name+1 : 0 }}" data-prototype="{{ include("tricks/form_image.html.twig", { form: formUpdateTrick.images.vars.prototype })|e("html_attr") }}">
								{% if formUpdateTrick.images | length > 0 %}
									{% for image in formUpdateTrick.images %}
									{% set i = loop.index -1 %}
									<a class="del-image-{{image.vars.name}}" >
										<img data-target='#carousel-custom' data-slide-to="{{ i }}" src='{{ asset("uploads/images/")~image.vars.value.name}}' width='180'alt='' />
										{{ include("tricks/form_image.html.twig", { form: image }) }} 
										</a>
									{% endfor %}
								{% endif %}
								<div class="add-image">
									<button type="button" class="bg-primary text-white btn-add fa fa-plus fa-md py-2 px-1" 
									data-rel="#images"> Ajouter une image</button>
								</div>
							</div>
						</div>
						<div class="col-6 col-lg-10 pt-2 pb-5 flex-column">
						    <h2>Vidéos</h2>
							{% for video in formUpdateTrick.videos %}
								<div class="col-10 col-sm-3 media-slider mb-3 mx-2 px-0">
									<iframe class="trick-media" src="{{ video.vars.value.videourl }}" width="250" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<div class="edit-media-input">
										{{ form_errors(video) }}
										{{ form_widget(video) }}
									</div>
									<div class="card-actions trick-media-actions py-2 px-3 mt-2 ml-auto mr-2">
										<button class="delete-media-button ml-3" type="button">
											<i class="fas fa-trash-alt" style='font-size:20px; color:red'></i>
										</button>
									</div>
								</div>
							{% endfor %}
							<ul id="video-fields-list" data-prototype="{{ form_widget(formUpdateTrick.videos.vars.prototype)|e }}" 
								data-widget-tags="{{ '<li></li>'|e }}" 
								data-widget-counter="{{ formUpdateTrick.videos|length }}"> 
							</ul>
                            <button type="button" class="add-another-collection-widget bg-primary text-white fa fa-plus fa-md py-2 px-1" 
                            data-list-selector="#video-fields-list"> Ajouter une Video</button>
						</div>
						<div class="col col-lg-4 pt-2 pb-5 flex-column justify-content-center text-center">
                            <button type="submit" class="btn btn-success">
                                Mettre à Jour
                            </button>
						</div>
						{{ form_end(formUpdateTrick, {render_rest: false}) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% include "tricks/_modal_defaultimage_deletion.html.twig" %}
	
{% block javascripts %}
<script src="{{ asset("js/jsForm.js") }}"></script>

{% endblock %}
	
{% endblock %}
