{% extends 'base.html.twig' %}

{% form_theme formnewpass 'bootstrap_5_layout.html.twig' %}

{% block body %}

	<div class="container-fluid py-5 Register-bg" id="register">
		<div class="row col col-lg-6">
			<div class="card  mb-3" >
				<div class="card-body">
					<div class="card-header mt-0"> 
						<h5>Réinitialisation mot de passe</h5>
					</div>
		
					{{ form_start(formnewpass) }}
					{% for message in app.flashes('success') %}
						<div class="alert alert-info w-100 mt-3">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-danger w-100 mt-3">
							{{ message }}
						</div>
					{% endfor %}
					{{ form_row(formnewpass.password, {'label': 'Mot de passe','attr': {'placeholder': "votre mot de passe"}}) }}
					{{ form_row(formnewpass.confirmpassword, {'label': 'Confirmation mot de passe','attr': {'placeholder': "Confirmer mot de passe"}}) }}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('newpassword') }}">
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Enregistrez</button>
					</div>
					{{ form_end(formnewpass) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
